*{
    margin: 1%;
}

body{
    background-image: url(fundo-3d-verde10.jpg);
    align-items: center;
    justify-content: center;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    
    background-color:#2D898B;

}

h1{
   color: white;
   font-family: 'Faster One', cursive;
   align-items: center;
   justify-content: center;
   display: flex;
   font-size: 40px;
   text-shadow: 2px 2px black;
}

input{
    width: 300px;
    height: 20px;
}

#gif{
    width: 400px;
    height: 300px;
}

p{
    font-size: 20pt;
    color: aliceblue;
}

@media(max-width: 425px){
    div{
        width: 100%;
    }
    section{
        width: 100%;
    }
}

